.booking-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  justify-content: center;
  align-self: ce;
}

.booking-pic {
  flex: 1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  overflow: hidden;
  max-height: none;
  max-width: none;
}

.room-details {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.book-head {
  font-weight: bold;
  color: black;
}

.book-details h3 {
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}

.ratings {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.rating-stars svg {
  margin-right: 5px;
}

.room-price {
  margin-top: 10px;
  left:30px;
}

.room-booking-time {
  font-weight: lighter;
  font-size: 14px;
}

.favorite {
  position: absolute;
  top: 20px;
  right: 20px;
  border-color: black;
}

.btns {
  display: flex;
  margin-top: auto;
}

.btn-book {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.numberOfReviews {
  margin-top: auto;
}

@media (max-width: 660px) {
  .booking-pic{
   width: 50px;
   height: 50px;;
  }
  .room-details {
    border-radius: 0;
    width: 100%;
  }

  .room-details {
    padding: 10px;
  }

  .btns {
    flex-direction: column;
  }
}
.active {
  color: red;
}
.star-active {
  color: gold; 
}
/* Add these styles to your existing stylesheet or create a new one */

.AppleDew-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-container {
  width: 50%;
}

.hotel-video {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-details {
  width: 50%;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-left: 20px;
}

.text-details h1 {
  color: #333;
  font-size: 36px;
}

.text-details p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}
