*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-group{
  background-color: black;
  padding: 30px;
  color: white;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-color: red;


}
.form-group input{
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  height: 30px;
  max-width: 400px;
}
.form-group button{
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: blue;
  margin-top: 10px;
}
.form-group h2{
  color: white;
  margin-bottom: 10px;
}
.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-container{
  position: relative;
}
.password-toggle{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.hotel-img{
  width: 100%;
  height: 100vh;
}
.backHotel{
  width: 100%;
  height: 100vh;
}
.nav{
position: absolute;
top: 0;
right: 0;
display: flex;
}
.list{
margin-top: 10px;
}
.list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.list ul li{
  margin-right: 10px;
  color: white;
  font-size: 25px;
}
.list ul li:hover{
 text-decoration: underline;
}
.left-text{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  
}
.facilities{
  text-align: center;
 
}

.facilities h1{
  text-align: center;
}
.facilities-image{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.room-img{
  width: 100%;
  height: 100vh;

}

.booking-box{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 97%;
  background-color: white;
  height: 300px;
  display: inline-block;
  position: relative;
  align-items: center;
  margin-left: 10%;
  margin-right: auto;
  border-radius: 25px;
  transition: 0.3s;
  left: -60px;
  right: 20px;

}

.room-book{
  display: flex;
  align-items: center;
}
.booking-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.room-book h4{
 margin: 10px;
 position: absolute;
 top: 0;
 left: 0;
 font-weight: bold;
 color: black;
}
.booking-space{
  height: 40px;
}
.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.booking-details span{ 
  margin: 10px;
  position: absolute;
  top: 70px;
  left: 425px;
  font-family: bold;
  color: black;
}
.reserve-room{
  margin: 5px;
  position: absolute;
  top:240px ;
  left: 425px;

}
.btn-reserve-room{
  top: 140px;
  position: absolute;
  left: 430px;
  background-color: chocolate;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: -4px;
}
.booking-pic{
  width: 300px;
  height: 260px;
  left: 10px;
  position: absolute;
  top: 20px;
  border-radius: 5px;
}
.book-head{
  position: absolute;
  top: -2px;
  left: 340px;
}
.book-details h3{
  font-weight: normal;
  font-size: 16px;
  position: absolute;
  left: 345px;
  top: 50px;
}
.btn-book{
  position: relative;
  top: 170px;
  left: 350px;
  background-color: chocolate;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: -40px;
  margin-left: 20px;
  border-color: chocolate;
}
.btn-reserve{
  position: relative;
  top: 245px;
  left: 550px;
  background-color: rgb(233, 146, 69);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: -40px;
  margin-left: 20px;
  border-color: chocolate;
}
.features{
  text-align: right;
  margin-right: 230px;
  font-size: 12px;
  margin-top: 40px;

}
.ratings{
  position: absolute;
  left: 360px;
  top: 240px;
  justify-content: space-around;
}

.rating-stars{
  display: flex;
  
}
.rating-stars svg{
  margin-right: 30px;  
}
.room-price{
  position: absolute;
  top: 220px ;
  left: 660px;
}
.room-booking-time{
  position: absolute;
  top: 225px;
  left: 750px;
  font-weight: lighter;
  font-size: 14px;
}
.fovourite{
  position: absolute;
  top: 60px;
  left: 750px;
  border-color: black;

}