.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.btn-login{
  background-color: blue;
  color: white;
  border-radius: 5px;
  border-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  
}
.form-group{
  background-color: black;
  padding: 20px;
  color: white;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;

}
.form-group input{
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
  height: 30px;
  max-width: 400px;
}
.form-group button{
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border: blue;
  margin-top: 10px;
}
.form-group h2{
  color: white;
  margin-bottom: 10px;
}
.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password-container{
  position: relative;
}
.password-toggle{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.hotel-img{
  width: 100%;
  height: 100vh;
}
.nav{
position: absolute;
top: 0;
right: 0;
display: flex;
}
.list{
margin-top: 10px;
}
.list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.list ul li{
  margin-right: 10px;
  color: white;
  font-size: 25px;
}
.list ul li:hover{
 text-decoration: underline;
}
.left-text{
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  
}
.facilities{
  text-align: center;
 
}

.facilities h1{
  text-align: center;
}
.facilities-image{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.room-img{
  width: 100%;
  height: 100vh;

}

.booking-box{
  border: 2px solid white;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
  align-items: center;

}
.room-book{
  display: flex;
  align-items: center;
}
.booking-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.room-book h4{
 margin: 10px;
 position: absolute;
 top: 0;
 left: 0;
 font-weight: bold;
 color: black;
}
.booking-space{
  height: 30px;

}
